/build/
/core/build/
/desktop/build/
/android/build/
/sdk/
/local.properties
/.nb-gradle/private/
/nbproject/
desktop/src/com/unbc/riskybusiness/desktop/Derp.java

.gradle/2.2/taskArtifacts/cache.properties

*.log

*.class

*.lock

*.bin

*.dex

*.xml

*.jar
